CalculadoraService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://control/" name="CalculadoraService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://control/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://control/" schemaLocation="CalculadoraService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="Somar">
    <part name="parameters" element="tns:Somar"/>
  </message>
  <message name="SomarResponse">
    <part name="parameters" element="tns:SomarResponse"/>
  </message>
  <message name="Multiplicar">
    <part name="parameters" element="tns:Multiplicar"/>
  </message>
  <message name="MultiplicarResponse">
    <part name="parameters" element="tns:MultiplicarResponse"/>
  </message>
  <message name="Dividir">
    <part name="parameters" element="tns:Dividir"/>
  </message>
  <message name="DividirResponse">
    <part name="parameters" element="tns:DividirResponse"/>
  </message>
  <message name="Substrair">
    <part name="parameters" element="tns:Substrair"/>
  </message>
  <message name="SubstrairResponse">
    <part name="parameters" element="tns:SubstrairResponse"/>
  </message>
  <portType name="Calculadora">
    <operation name="Somar">
      <input wsam:Action="http://control/Calculadora/SomarRequest" message="tns:Somar"/>
      <output wsam:Action="http://control/Calculadora/SomarResponse" message="tns:SomarResponse"/>
    </operation>
    <operation name="Multiplicar">
      <input wsam:Action="http://control/Calculadora/MultiplicarRequest" message="tns:Multiplicar"/>
      <output wsam:Action="http://control/Calculadora/MultiplicarResponse" message="tns:MultiplicarResponse"/>
    </operation>
    <operation name="Dividir">
      <input wsam:Action="http://control/Calculadora/DividirRequest" message="tns:Dividir"/>
      <output wsam:Action="http://control/Calculadora/DividirResponse" message="tns:DividirResponse"/>
    </operation>
    <operation name="Substrair">
      <input wsam:Action="http://control/Calculadora/SubstrairRequest" message="tns:Substrair"/>
      <output wsam:Action="http://control/Calculadora/SubstrairResponse" message="tns:SubstrairResponse"/>
    </operation>
  </portType>
  <binding name="CalculadoraPortBinding" type="tns:Calculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Somar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Multiplicar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Dividir">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Substrair">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculadoraService">
    <port name="CalculadoraPort" binding="tns:CalculadoraPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

